/clash royale/nbproject/private/
/clash royale/build/
/clash royale/dist/
/CLASHROYALE_IF2/nbproject/private/
/CLASHROYALE_IF2/build/
/SwitchDiadelaSemana/nbproject/private/
/SwitchDiadelaSemana/build/
/ExerciciMeses/nbproject/private/
/ExerciciMeses/build/
/Exercici18/nbproject/private/
/Exercici18/build/
/Exercici12/build/
/Exercici12/nbproject/private/
